/** 
 *  custom TinyMCE editor stylesheets
 */

@import url( 'font-awesome.min.css' );
@import url( 'style.min.css' );

/* Add overwrites as needed so that the content of the editor field is attractive and not broken */

img { 
        max-width: 100%;
        height: auto;
}

td, th {
        min-width: 1em;
}

.wp-caption { 
        padding: 4px 4px 0 4px; 
}

.gallery .gallery-item {
        padding: 0;
        margin: 0 6px 6px 0;
}
.gallery .gallery-caption {
        margin: 0;
}