body {
        &.fsmpb {
                // Display the meta box
                #fsmpb_meta_box {
                        display: block;
                }
                
                // Hide visual editor
                #postdivrich {
                        #wp-content-media-buttons > :not(#fsmpb-switch),
                        #wp-content-editor-container,
                        .wp-editor-tabs {
                                display: none;
                        }

                        #post-status-info {
                                position        : absolute;
                                opacity         : 0;
                        }

                        #wp-content-editor-tools {
                                border: none;
                        }
                }
        }
        
        // Kill the scroll on the body
        &.fsmpb-full-screen {
                overflow: hidden;
        }
}