&.full-screen {
        position        : fixed;
        top             : 0;
        left            : 0;
        right           : 0;
        bottom          : 0;
        overflow        : auto;
        z-index         : 10000;
        background      : white;
        width           : 98%;
        min-height      : 98%;
        padding         : 1%;        
}