#fsmpb-modal-insert-element {
        .row {
                margin  : 2em 0 1em;
        }
        
        .col-sm-3 {
                padding : 1px;
        }
        
        .element {
                padding         : .8em;
                background      : $gray-lighter;
                text-align      : center;
                
                &:hover {
                        background      : $state-info-bg; 
                }
                
                h4 { 
                        margin  : 0 0 .5em; 
                }
        }
}