#fsmpb-modal-insert-row {             
        .columns {
                margin: 0 -2.5px;

                > div {
                        background-image: url(../img/columns.jpg);
                        cursor          : pointer; 
                        float           : left;  
                        margin          : 2.5px;
                        height          : 20px;
                        width           : 60px; 

                        &.col-6-6               { background-position: 0 -20px }
                        &.col-4-4-4             { background-position: 0 -40px }
                        &.col-3-3-3-3           { background-position: 0 -60px }
                        &.col-2-2-2-2-2-2       { background-position: 0 -80px }
                        &.col-4-8               { background-position: 0 -100px }
                        &.col-8-4               { background-position: 0 -120px }
                        &.col-3-6-3             { background-position: 0 -140px }
                        &.col-3-3-6             { background-position: 0 -160px }
                        &.col-6-3-3             { background-position: 0 -180px }
                        
                        &.selected {
                                border-bottom: $border-selected;
                        }
                }
        }
}