// Panel
// -----------------------------------------------------------------------------
.panel {
        border          : 0;
        margin-bottom   : $panel-body-padding;
}

.panel-heading {
        position        : relative;
        cursor          : move;
        background      : rgba( 0, 0, 0, .01 ); 
        font-weight     : 900; 
}

.panel-title {
        font-size       : 11px;
}

// Control
// -----------------------------------------------------------------------------
.control { 
        position        : absolute;
        top             : 0;
        right           : 0;
        height          : 100%; 
        background      : rgba( 0, 0, 0, .05 );
        display         : table;
        opacity         : 0;
        
        a {
                padding         : 0 8px; 
                line-height     : 26px; 
                display         : table-cell;
                
                &:hover {
                        background      : rgba( 0, 0, 0, .1 );
                }
        }
}

.panel {        
        &:hover {
                > .panel-heading {
                        .control {
                                opacity: 1;
                        }
                }
        }
        
        &.selected {                
                > .panel-heading {
                        background      : rgba( 0, 0, 0, .2 );
                        color           : #fff;
                }       
        }
}

// Element
// -----------------------------------------------------------------------------
.element-wrapper {
        background      : $brand-primary;
        color           : #fff;
        word-break      : break-all;
        
        > .panel-body {
                min-height      : $panel-body-element-min-height;
        }
}

// Column
// -----------------------------------------------------------------------------
.column-wrapper {
        transition      : width .4s;
        
        > .panel {
                margin  : 1px;
                
                > .panel-body {
                        padding-bottom  : 0; 
                        min-height      : $panel-body-min-height;
                }
        }
}

// Row
// -----------------------------------------------------------------------------
.row-wrapper {
        background      : #f1f1f1;
        
        > .panel-body {
                padding : 1px;
                
                > .row {
                        min-height: $panel-body-min-height - $panel-body-padding;
                }
        }                        
}

// Sortable helper
// -----------------------------------------------------------------------------
.ui-sortable-helper {
        opacity : .5;
}

// Placeholder
// -----------------------------------------------------------------------------
.placeholder {
        height          : 64px;
        margin-bottom   : $panel-body-padding;
        background      : $brand-info;
        
        &.column-wrapper {
                margin          : 1px 0; 
                background      : none;
                
                &:after {
                        content         : '';
                        display         : block;
                        height          : 100%; 
                        background      : $brand-info; 
                }
        }
}