.modal {
        &#fsmpb-modal-loading {
                text-align: center;
        }
        
        .button-primary {
                color: white;
        }

        .element {
                cursor          : pointer; 
                word-break      : normal !important;
        }

        .spinner {
                display : inline-block;
                margin  : -1px 0 0;
                float   : none;
        }
}