$color-danger                   : #d2322d;
$color-info                     : darken(#d9edf7, 4%);
$color-primary                  : #428bca;
$color-gray                     : #fafafa;
        
$border-info                    : 1px solid darken($color-info, 10%);
$border-primary                 : 1px solid darken($color-primary, 10%);
$border-gray                    : 1px solid darken($color-gray, 10%);
$border-selected                : 4px solid $color-danger;
$border-white                   : 1px solid #ddd;

$panel-body-min-height          : 98px;
$panel-body-element-min-height  : 39px;

//== Panels
$panel-body-padding             : 10px;
$panel-heading-padding          : 10px;
        
//== Colors        
$gray-lighter                   : #f8f8f8;
        
//== Grid system        
$grid-gutter-width              : 0;