#fsmpb-container {               
        @import "_variables.scss";
        @import "_bootstrap.scss";
        @import "_insert-element.scss";
        @import "_insert-row.scss";
        @import "_full-screen.scss";
        @import "_modal.scss";
        @import "_main.scss";
}

#fsmpb_meta_box {
        display         : none;
}

#fsmpb-switch .dashicons {
        opacity         : .8;
        line-height     : inherit;
}

@import "_body.scss";
@import "_rtl.scss";