.breadcrumb-wrapper {
        padding                 : 1em;
        background              : @lighter-bg; 
        box-shadow              : 0 -1px 1px 0 rgba( 0, 0, 0, 0.16 );
}

.flat-style {
        .breadcrumb-wrapper {
                box-shadow      : none; 
        }
}