.modal {                
        background: rgba(0, 0, 0, .7);
        overflow-x: hidden;
        overflow-y: auto;

        &.modal-wp-editor-widget {
                z-index: 10060;
        }
        &.modal-fsmh {
                z-index: 10070;
        }
}

#fsmh-modal-font-awesome .fa {
        cursor: pointer;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
}  