//== Components
$border-radius-base     : 2px;
$border-radius-large    : 4px;
$border-radius-small    : 1px;

//-- Z-index master list
$zindex-modal-background:  10040;
$zindex-modal           :  10050;

//== Panels
$panel-border-radius    : 0 !default;