.fsmh-container {
        @import "variables";
        @import "bootstrap";
        
        @import "modal";
        @import "navs";
}

// Buttons field
// -----------------------------------------------------------------------------

.fsmh-field-buttons {
        > .button input[type="checkbox"], 
        > .button input[type="radio"], 
        > .button-group > .button input[type="checkbox"], 
        > .button-group > .button input[type="radio"] {
                position        : absolute;
                clip            : rect(0px 0px 0px 0px);
                pointer-events  : none;
        }
}

// Repeater field
// -----------------------------------------------------------------------------

.fsmh-field-repeater-wrapper {
        background  : #fafafa; 
        border      : 1px solid #e5e5e5;  
        margin      : 20px 0;
        padding     : 10px;

        p { margin-top: 0 }
}

// Font Awesome field
// -----------------------------------------------------------------------------

.fsmh-field-font-awesome-wrapper {
        position        : relative;

        .fa {
                position        : absolute;
                line-height     : 27px;
                top             : 0;
                right           : 6px;
        }
}

.rtl {
        .fsmh-field-font-awesome-wrapper {
                .fa {
                        right   : auto;
                        left    : 6px;
                }
        }
}

// Image select field
// -----------------------------------------------------------------------------

.fsmh-image-radio {
        input[ type="radio" ] { 
                display : none;

                &:checked + img { 
                        border-color    : #7a7a7a; 
                }
        }                

        img { 
                border  : 4px solid #d9d9d9; 
                padding : 2px; 
        }
}  