/** 
 *  Created on : Mar 15, 2014, 12:10:56 PM
 *  Author     : Fahri
 */

@import url( '../style.css' );
@import url( 'wp.css' );

/* Add overwrites as needed so that the content of the editor field is attractive and not broken */
body { 
        padding: 0; 
        background: #fff; 
} 
body > :first-child     { margin-top: 0 }
body > :last-child      { margin-bottom: 0 }

h1, h2, h3, h4, h5, h6 {
        font-weight     : normal;
        margin          : 10px 0;
        text-transform  : none;
}

img { 
        max-width: 100%;
        height: auto;
}

.wp-caption     { padding: 4px 4px 0 4px }