@dark-bg            : #404048;
@dark-border        : #505058;
@dark-text          : #b0b0b8;
@darker-bg          : #303038;
@darker-border      : #38383f;
@darker-text        : #606068;
@light-border       : #e0e0e8;
@light-bg           : #808088;
@light-text         : #f0f0f8;
@lighter-bg         : #f4f4fc;
@lighter-border     : #f4f4fc;
@primary            : #fd4a29;
@primary-transparent: rgba(253, 74, 41, .8);
@secondary          : #606068;
@semi-dark-bg       : #606068;

.wp-caption { max-width: 100%; }

/* Alignment
============================================================================= */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

blockquote.alignright,
img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
	margin-top: 7px;
	margin-bottom: 7px;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 17px;
	width: 50%;
}

.site-content blockquote.alignleft p,
.site-content blockquote.alignright p {
	margin-bottom: 17px;
}

.wp-caption {
	margin-bottom: 24px;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption {
	color: #767676;
}

.wp-caption-text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;
	margin: 9px 0;
	padding-right: 10px;
}

.wp-smiley {
	border: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/*Gallery Caption
============================================================================= */
.gallery-caption {
        font-weight: normal;
}

/*Comments
============================================================================= */
.bypostauthor {
        font-weight: normal;
}

/*Comment
============================================================================= */
.comment-respond {
    margin: 45px 0;
    
    .comment-reply-title { font-size: 18px; }
}

.post-comments {
        .pingback, 
        .trackback {
                border-bottom: 1px solid @light-border; 
                margin: 30px 0;
                padding-bottom: 30px;
        }                
}

/*Edit Link
============================================================================= */
.edit-link {
    border-bottom   : 1px solid @light-border;
    padding         : 10px 0;
    margin-bottom   : 15px; 
}


/* CALENDAR
============================================================================= */
.widget_calendar table {        
    border-collapse     : separate;
    border-spacing      : 1px; 
    width               : 100%;
        
    caption             { font-weight   : bold }
    th, td, caption     { padding       : 5px }    
    th, tbody td        { text-align    : center }    
    th, td              { background    : @lighter-bg; }
    
    tfoot td, 
    .pad { background: none }
    
    tfoot td { padding: 5px 0 }
}

#footer-main .widget_calendar table {    
    th, td { background: @dark-border; }
    tfoot td, 
    .pad { background: none }
}

/* SHORTCODES
============================================================================= */
.wp-video-shortcode,
.wp-audio-shortcode { max-width: 100% }

.videopress-placeholder img { width: auto }

#blog-version-1 #main-content .featured-media { width: 717px; }

/*table
============================================================================= */
article table:not(.table) {
    border: 1px solid rgba(0, 0, 0, 0.1);
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
        
        caption,
        th,
        td {
                font-weight: normal;
                text-align: left;
                padding: 8px;
        }
        
        th,
        td {
                border: 1px solid rgba(0, 0, 0, 0.1);
        }
        
        th {
                border-width: 0 1px 1px 0;
                font-weight: bold;
        }

        td {
                border-width: 0 1px 1px 0;
        }
}

/*widgets
==============================================================================*/
.widget_archive,
.widget_categories,
.widget_pages,
.widget_meta,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss,
.widget_nav_menu,
.widget_text {        
        .widget-title img       { display: none }
        
        img{ 
                max-width       : 100%;
                height          : auto;
                width           : auto; 
        }
        
        ul, ol { 
                list-style: none;
                padding: 0;
                
                li { float: none !important }
                
                li ul,
                li ol { padding-left: 15px; }
        }
}
[dir=rtl] {
        .widget_archive,
        .widget_categories,
        .widget_pages,
        .widget_meta,
        .widget_recent_comments,
        .widget_recent_entries,
        .widget_rss,
        .widget_nav_menu
        .widget_text  {
                li ul,
                li ol {
                        padding-left: 0;
                        padding-right: 15px;
                }
        }
}
.widget_rss {
        li { 
                margin-bottom: 15px;
                &:last-child { margin-bottom: 0; }
                
                cite {
                        font-size: .8em;
                        &:before {
                                content: '\2014 \00A0';
                        }
                }
        }
                
}
.widget_rss li > a.rsswidget,
.widget_recent_comments .recentcomments a:last-child,
.widget_recent_entries a {
        font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
}