.redux-container-checkbox input { float: none }
.redux-container-spinner .spinner-wrpr  { direction: ltr }

.redux_field_th,
.redux-container-image_select ul.redux-image-select li { 
        padding-right: 0;
        padding-left: 10px;
}

.redux-main input.checkbox, .redux-main input.radio,
.redux-container-switch .switch-options {
        margin-right: 0;
        margin-left: 10px;
}

.redux-container-switch .switch-options,
.redux-container-spinner .spinner-wrpr {
        display: inline-block;
}

.select2-container .select2-choice abbr {
        right: auto;
        left: 8px;
}
.select2-container.select2-allowclear .select2-choice .select2-chosen { margin-right: 30px }