/* Widgets
============================================================================= */
.warta-tab {
    background  : #fafafa; 
    border      : 1px solid #ddd;  
    margin      : 20px 0;
    padding     : 10px;
}
.warta-widget .warta-tab:first-of-type .warta-tab-delete { display: none }
.warta-tab p { margin-top: 0 }

.warta-image-radio input[type="radio"]                  { display:none; }
.warta-image-radio img                                  { border: 4px solid #d9d9d9; padding: 2px; }
.warta-image-radio input[type="radio"]:checked + img    { border-color: #7a7a7a; }