.fsmh-container {
  /*!
   * Bootstrap v3.2.0 (http://getbootstrap.com)
   * Copyright 2011-2014 Twitter, Inc.
   * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
   */
}
.fsmh-container .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.fsmh-container .nav:before, .fsmh-container .nav:after {
  content: " ";
  display: table;
}
.fsmh-container .nav:after {
  clear: both;
}
.fsmh-container .nav > li {
  position: relative;
  display: block;
}
.fsmh-container .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.fsmh-container .nav > li > a:hover, .fsmh-container .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.fsmh-container .nav > li.disabled > a {
  color: #777777;
}
.fsmh-container .nav > li.disabled > a:hover, .fsmh-container .nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.fsmh-container .nav .open > a, .fsmh-container .nav .open > a:hover, .fsmh-container .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
.fsmh-container .nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.fsmh-container .nav > li > a > img {
  max-width: none;
}
.fsmh-container .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.fsmh-container .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.fsmh-container .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857;
  border: 1px solid transparent;
  border-radius: 2px 2px 0 0;
}
.fsmh-container .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #ddd;
}
.fsmh-container .nav-tabs > li.active > a, .fsmh-container .nav-tabs > li.active > a:hover, .fsmh-container .nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.fsmh-container .nav-pills > li {
  float: left;
}
.fsmh-container .nav-pills > li > a {
  border-radius: 2px;
}
.fsmh-container .nav-pills > li + li {
  margin-left: 2px;
}
.fsmh-container .nav-pills > li.active > a, .fsmh-container .nav-pills > li.active > a:hover, .fsmh-container .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.fsmh-container .nav-stacked > li {
  float: none;
}
.fsmh-container .nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.fsmh-container .nav-justified, .fsmh-container .nav-tabs.nav-justified {
  width: 100%;
}
.fsmh-container .nav-justified > li, .fsmh-container .nav-tabs.nav-justified > li {
  float: none;
}
.fsmh-container .nav-justified > li > a, .fsmh-container .nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.fsmh-container .nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .fsmh-container .nav-justified > li, .fsmh-container .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .fsmh-container .nav-justified > li > a, .fsmh-container .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.fsmh-container .nav-tabs-justified, .fsmh-container .nav-tabs.nav-justified {
  border-bottom: 0;
}
.fsmh-container .nav-tabs-justified > li > a, .fsmh-container .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 2px;
}
.fsmh-container .nav-tabs-justified > .active > a, .fsmh-container .nav-tabs.nav-justified > .active > a,
.fsmh-container .nav-tabs-justified > .active > a:hover,
.fsmh-container .nav-tabs.nav-justified > .active > a:hover,
.fsmh-container .nav-tabs-justified > .active > a:focus,
.fsmh-container .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .fsmh-container .nav-tabs-justified > li > a, .fsmh-container .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 2px 2px 0 0;
  }
  .fsmh-container .nav-tabs-justified > .active > a, .fsmh-container .nav-tabs.nav-justified > .active > a,
  .fsmh-container .nav-tabs-justified > .active > a:hover,
  .fsmh-container .nav-tabs.nav-justified > .active > a:hover,
  .fsmh-container .nav-tabs-justified > .active > a:focus,
  .fsmh-container .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.fsmh-container .tab-content > .tab-pane {
  display: none;
}
.fsmh-container .tab-content > .active {
  display: block;
}
.fsmh-container .nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.fsmh-container .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.fsmh-container .panel-body {
  padding: 15px;
}
.fsmh-container .panel-body:before, .fsmh-container .panel-body:after {
  content: " ";
  display: table;
}
.fsmh-container .panel-body:after {
  clear: both;
}
.fsmh-container .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: -1;
  border-top-left-radius: -1;
}
.fsmh-container .panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.fsmh-container .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.fsmh-container .panel-title > a {
  color: inherit;
}
.fsmh-container .panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: -1;
  border-bottom-left-radius: -1;
}
.fsmh-container .panel > .list-group {
  margin-bottom: 0;
}
.fsmh-container .panel > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.fsmh-container .panel > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: -1;
  border-top-left-radius: -1;
}
.fsmh-container .panel > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: -1;
  border-bottom-left-radius: -1;
}
.fsmh-container .panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.fsmh-container .list-group + .panel-footer {
  border-top-width: 0;
}
.fsmh-container .panel > .table,
.fsmh-container .panel > .table-responsive > .table,
.fsmh-container .panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.fsmh-container .panel > .table:first-child,
.fsmh-container .panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: -1;
  border-top-left-radius: -1;
}
.fsmh-container .panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.fsmh-container .panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.fsmh-container .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.fsmh-container .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.fsmh-container .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.fsmh-container .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.fsmh-container .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.fsmh-container .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: -1;
}
.fsmh-container .panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.fsmh-container .panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.fsmh-container .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.fsmh-container .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.fsmh-container .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.fsmh-container .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.fsmh-container .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.fsmh-container .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: -1;
}
.fsmh-container .panel > .table:last-child,
.fsmh-container .panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: -1;
  border-bottom-left-radius: -1;
}
.fsmh-container .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.fsmh-container .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.fsmh-container .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.fsmh-container .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.fsmh-container .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.fsmh-container .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.fsmh-container .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.fsmh-container .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: -1;
}
.fsmh-container .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.fsmh-container .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.fsmh-container .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.fsmh-container .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.fsmh-container .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.fsmh-container .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.fsmh-container .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.fsmh-container .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: -1;
}
.fsmh-container .panel > .panel-body + .table,
.fsmh-container .panel > .panel-body + .table-responsive {
  border-top: 1px solid #ddd;
}
.fsmh-container .panel > .table > tbody:first-child > tr:first-child th,
.fsmh-container .panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.fsmh-container .panel > .table-bordered,
.fsmh-container .panel > .table-responsive > .table-bordered {
  border: 0;
}
.fsmh-container .panel > .table-bordered > thead > tr > th:first-child,
.fsmh-container .panel > .table-bordered > thead > tr > td:first-child,
.fsmh-container .panel > .table-bordered > tbody > tr > th:first-child,
.fsmh-container .panel > .table-bordered > tbody > tr > td:first-child,
.fsmh-container .panel > .table-bordered > tfoot > tr > th:first-child,
.fsmh-container .panel > .table-bordered > tfoot > tr > td:first-child,
.fsmh-container .panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.fsmh-container .panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.fsmh-container .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.fsmh-container .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.fsmh-container .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.fsmh-container .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.fsmh-container .panel > .table-bordered > thead > tr > th:last-child,
.fsmh-container .panel > .table-bordered > thead > tr > td:last-child,
.fsmh-container .panel > .table-bordered > tbody > tr > th:last-child,
.fsmh-container .panel > .table-bordered > tbody > tr > td:last-child,
.fsmh-container .panel > .table-bordered > tfoot > tr > th:last-child,
.fsmh-container .panel > .table-bordered > tfoot > tr > td:last-child,
.fsmh-container .panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.fsmh-container .panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.fsmh-container .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.fsmh-container .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.fsmh-container .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.fsmh-container .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.fsmh-container .panel > .table-bordered > thead > tr:first-child > td,
.fsmh-container .panel > .table-bordered > thead > tr:first-child > th,
.fsmh-container .panel > .table-bordered > tbody > tr:first-child > td,
.fsmh-container .panel > .table-bordered > tbody > tr:first-child > th,
.fsmh-container .panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.fsmh-container .panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.fsmh-container .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.fsmh-container .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.fsmh-container .panel > .table-bordered > tbody > tr:last-child > td,
.fsmh-container .panel > .table-bordered > tbody > tr:last-child > th,
.fsmh-container .panel > .table-bordered > tfoot > tr:last-child > td,
.fsmh-container .panel > .table-bordered > tfoot > tr:last-child > th,
.fsmh-container .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.fsmh-container .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.fsmh-container .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.fsmh-container .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.fsmh-container .panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
.fsmh-container .panel-group {
  margin-bottom: 20px;
}
.fsmh-container .panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
}
.fsmh-container .panel-group .panel + .panel {
  margin-top: 5px;
}
.fsmh-container .panel-group .panel-heading {
  border-bottom: 0;
}
.fsmh-container .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 1px solid #ddd;
}
.fsmh-container .panel-group .panel-footer {
  border-top: 0;
}
.fsmh-container .panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.fsmh-container .panel-default {
  border-color: #ddd;
}
.fsmh-container .panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.fsmh-container .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.fsmh-container .panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.fsmh-container .panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.fsmh-container .panel-primary {
  border-color: #428bca;
}
.fsmh-container .panel-primary > .panel-heading {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.fsmh-container .panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #428bca;
}
.fsmh-container .panel-primary > .panel-heading .badge {
  color: #428bca;
  background-color: #fff;
}
.fsmh-container .panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #428bca;
}
.fsmh-container .panel-success {
  border-color: #d6e9c6;
}
.fsmh-container .panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.fsmh-container .panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.fsmh-container .panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.fsmh-container .panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.fsmh-container .panel-info {
  border-color: #bce8f1;
}
.fsmh-container .panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.fsmh-container .panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.fsmh-container .panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.fsmh-container .panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.fsmh-container .panel-warning {
  border-color: #faebcc;
}
.fsmh-container .panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.fsmh-container .panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.fsmh-container .panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.fsmh-container .panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.fsmh-container .panel-danger {
  border-color: #ebccd1;
}
.fsmh-container .panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.fsmh-container .panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.fsmh-container .panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.fsmh-container .panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}
.fsmh-container .modal-open {
  overflow: hidden;
}
.fsmh-container .modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.fsmh-container .modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.fsmh-container .modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fsmh-container .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.fsmh-container .modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.fsmh-container .modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.fsmh-container .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10040;
  background-color: #000;
}
.fsmh-container .modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.fsmh-container .modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.fsmh-container .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857px;
}
.fsmh-container .modal-header .close {
  margin-top: -2px;
}
.fsmh-container .modal-title {
  margin: 0;
  line-height: 1.42857;
}
.fsmh-container .modal-body {
  position: relative;
  padding: 15px;
}
.fsmh-container .modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.fsmh-container .modal-footer:before, .fsmh-container .modal-footer:after {
  content: " ";
  display: table;
}
.fsmh-container .modal-footer:after {
  clear: both;
}
.fsmh-container .modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.fsmh-container .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.fsmh-container .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.fsmh-container .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .fsmh-container .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .fsmh-container .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .fsmh-container .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .fsmh-container .modal-lg {
    width: 900px;
  }
}
.fsmh-container .clearfix:before, .fsmh-container .clearfix:after {
  content: " ";
  display: table;
}
.fsmh-container .clearfix:after {
  clear: both;
}
.fsmh-container .modal {
  background: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  overflow-y: auto;
}
.fsmh-container .modal.modal-wp-editor-widget {
  z-index: 10060;
}
.fsmh-container .modal.modal-fsmh {
  z-index: 10070;
}
.fsmh-container #fsmh-modal-font-awesome .fa {
  cursor: pointer;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
}
.fsmh-container .nav-tabs a {
  text-decoration: none;
}

.fsmh-field-buttons > .button input[type="checkbox"],
.fsmh-field-buttons > .button input[type="radio"],
.fsmh-field-buttons > .button-group > .button input[type="checkbox"],
.fsmh-field-buttons > .button-group > .button input[type="radio"] {
  position: absolute;
  clip: rect(0px 0px 0px 0px);
  pointer-events: none;
}

.fsmh-field-repeater-wrapper {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  margin: 20px 0;
  padding: 10px;
}
.fsmh-field-repeater-wrapper p {
  margin-top: 0;
}

.fsmh-field-font-awesome-wrapper {
  position: relative;
}
.fsmh-field-font-awesome-wrapper .fa {
  position: absolute;
  line-height: 27px;
  top: 0;
  right: 6px;
}

.rtl .fsmh-field-font-awesome-wrapper .fa {
  right: auto;
  left: 6px;
}

.fsmh-image-radio input[type="radio"] {
  display: none;
}
.fsmh-image-radio input[type="radio"]:checked + img {
  border-color: #7a7a7a;
}
.fsmh-image-radio img {
  border: 4px solid #d9d9d9;
  padding: 2px;
}
