#bbpress-forums {
        fieldset.bbp-form {
                padding: 10px;
        
                legend {
                        border: 1px solid #e5e5e5;
                        margin: 0;
                }
        }
}

.bbp-login-form label { display: inline-block!important }