#bbpress-forums {
        /*Breadcrum
        ============*/
        .bbp-breadcrumb,
        .bbp-topic-tags {
                p { margin-top: 0 }                
        }
        
        /*Subscription & Favorite
        =========================*/
        #subscription-toggle { float: right }
        
        li.bbp-header div.bbp-topic-content span#subscription-toggle,
        li.bbp-header div.bbp-topic-content span#favorite-toggle,
        li.bbp-header div.bbp-reply-content span#subscription-toggle,
        li.bbp-header div.bbp-reply-content span#favorite-toggle {
                a { 
                        color: @light-text;
                        &:hover { color: white }
                }
        }
        
        /*Search
        ========*/
        #bbp_search_submit {
                margin-top: -1px;
        }
        
        /*Notices
        =========*/
        .bbp-template-notice,
        .indicator-hint {
                border-radius: 0;
        }
        .bbp-template-notice a:hover {
                color: @primary
        }
        
        /*Container
        ===========*/
        ul.bbp-lead-topic,
        ul.bbp-topics,
        ul.bbp-forums,
        ul.bbp-replies,
        ul.bbp-search-results { 
                border: 0;
        }
        
        /*Header
        ========*/
        li.bbp-header { 
                background      : @secondary;
                color           : @light-text;
                border          : 0;
        }
        
        div.bbp-forum-header,
        div.bbp-topic-header,
        div.bbp-reply-header {
                border: 0;
        }
        
        /*Footer
        ========*/
        li.bbp-footer {
                background      : #f4f4fc;
                border          : 0;
        }
        
        /*Loop
        ======*/
        li.bbp-body ul.forum,
        li.bbp-body ul.topic {
                border          : 0;
                padding-top     : 20px;
                padding-bottom  : 20px;
        }
        
        li.bbp-forum-freshness,
        li.bbp-topic-freshness { 
                text-align: inherit 
        }
        
        .bbp-forum-info,
        .bbp-forum-freshness,
        .bbp-topic-title,
        .bbp-topic-freshness {
                a { border: 0 }
        }
        
        div.odd,
        ul.odd {
                background-color: #fcfcfc;
        }
        
        /*Avatars
        =========*/
        p.bbp-topic-meta img.avatar,
        ul.bbp-reply-revision-log img.avatar,
        ul.bbp-topic-revision-log img.avatar,
        div.bbp-template-notice img.avatar,
        .widget_display_topics img.avatar,
        .widget_display_replies img.avatar {
                margin-bottom   : 0;
                margin-top      : -2px;
                border          : 0;
        }
        
        .bbp-author-avatar { border: 0 }
        
        /*Pagination
        ============*/
        .bbp-pagination-count { line-height: 30px }
        
        /*Admin Links
        =============*/
        span.bbp-admin-links a,         
        .bbp-forum-header a.bbp-forum-permalink,
        .bbp-topic-header a.bbp-topic-permalink,
        .bbp-reply-header a.bbp-reply-permalink {
                &:hover { color: @primary }
        }
}