#bbpress-forums {
        div.bbp-topic-author a.bbp-author-name,
        div.bbp-reply-author a.bbp-author-name {
                border          : 0;
                font-weight     : bold;
                margin-top      : 10px;
        }
        
        div.bbp-forum-content,
        div.bbp-topic-content,
        div.bbp-reply-content {
                :first-child { margin-top: 0 }
                :last-child { margin-bottom: 0 }
        }
        
        .bbp-reply-content h1 { font-size: 36px }
}