#bbpress-forums {        
        .bbp-topic-permalink {
                font-size       : 14px;
                font-weight     : bold;
                
                &:not(:hover) { color: @headings-link-color }
        }
        
        .bbp-topic-pagination {
                margin: 0;
                
                .page-numbers { 
                        font-size       : 11px !important;
                        padding         : 3px 6px !important;
                        margin-bottom   : 2px;
                }
        }
}