#bbpress-forums {
        .bbp-forum-title {
                font-size       : 18px;
                font-weight     : bold;
                
                &:not(:hover) { color: @headings-link-color }
        }
                
        /*Subforum*/
        .bbp-forums-list {
                border  : 0;
                padding : 0;
                margin  : 0 -1px;
                
                li {
                        margin: 1px;
                        
                        a { padding: 6px 10px }
                }
        } 
}