#bbpress-forums {
        #bbp-user-wrapper {
                #bbp-single-user-details { 
                        margin-bottom: 45px;
                        
                        #bbp-user-avatar a { border: none }
                        
                        #bbp-user-navigation {
                                a { 
                                        color: @darker-text;
                                        .transition-none();
                                }
                                
                                a:hover,
                                li.current a {
                                        color           : @light-text;
                                        background      : @primary;
                                }
                        }
                }  
                
                h2.entry-title { font-weight: bold }
                
                ul.bbp-lead-topic,
                ul.bbp-topics,
                ul.bbp-forums,
                ul.bbp-replies { 
                        clear: both 
                }
                
                .bbp-user-section {
                        .bbp-user-forum-role,
                        .bbp-user-topic-count,
                        .bbp-user-reply-count { margin: 10px 0 }
                }
                
                ul.social {
                        margin: 10px -5px 30px 0;
                        
                        > li { margin: 0 5px 5px 0 }
                }
                
                #bbp-user-replies-created .bbp-topic-permalink { border: 0 }
                
                #bbp-your-profile fieldset {
                        border-width    : 4px;
                        margin-bottom   : 45px;
                        
                        input,
                        select,
                        textarea {
                                background-color: @lighter-bg;
                                width           : 80%;                                
                                
                                .box-shadow-inset(0, 1px, 2px, 0, rgba(0, 0, 0, .1));
                                &:focus { background-color: darken(@lighter-bg, 4%) }
                        }
                        
                        textarea { clear: none }
                        
                        fieldset.password {
                                margin-bottom   : 0;
                                width           : 80%;
                                
                                input { width: 100% }
                        }
                        
                        @media(max-width: @screen-md) {
                                input,
                                select,
                                textarea,
                                fieldset.password {
                                        width: 100%;
                                }
                                
                                label[for] {
                                        text-align      : left;
                                        width           : 100%;
                                }
                        }
                }
        }
}