.widget[id^=bbp_] {
        &.widget_display_replies,
        &.widget_display_topics {
                li {
                        border-bottom   : 1px solid @light-border; 
                        padding-bottom  : 15px;
                        margin-bottom   : 15px;
                }
        }
        
        &.widget_display_stats dl {
                > dt,
                > dd {
                        &:nth-of-type(odd) { 
                                background: @lighter-bg;
                        }
                }
                
                > dt { padding: 8px 8px 0 }
                > dd { padding: 0 8px 8px }
        }
}

#footer-main .widget[id^=bbp_] {
        &.widget_display_replies,
        &.widget_display_topics {
                li { border: 0 }
        }
        
        &.widget_display_stats dl {
                > dt,
                > dd {
                        &:nth-of-type(odd) { background: @dark-border }
                }
        }
}