.woocommerce-account {
    .addresses {
        .title {
            .edit { 
                &:before {
                    font-family     : FontAwesome;
                    content         : '\f040\00a0';
                }
            }
        }
    }
}