.woocommerce {
    a.button,
    button.button,
    input.button,
    #respond input#submit {
        border-radius:  0;
        padding:        @padding-base-vertical @padding-base-horizontal;
        line-height:    @line-height-base;
        
        &.alt,
        &.checkout,
        &[type=submit] {
            color:      @btn-primary-color;
            background: @btn-primary-bg;

            &:hover,
            &:focus {
                color:      @btn-primary-color;
                background: darken(@btn-primary-bg, 10%);
            }
            
            &:disabled,
            &.disabled,
            &:disabled[disabled] {
                color:      @btn-primary-color;
            }
        }
    }
}

#footer-main .button { 
    &:extend( .btn-dark all );
}