.woocommerce {
    ul {
        &.cart_list, 
        &.product_list_widget {
            li {
                a {
                    color           : @headings-link-color;
                    font-weight     : bold;

                    &:hover { color: @primary }
                }
            }
        }
    }
    
    .widget_shopping_cart, 
    &.widget_shopping_cart {
        .total {
            border-top-style: solid;
        }
    }
    
    footer {
        .widget_shopping_cart, 
        &.widget_shopping_cart {
            .total {
                border-color: @dark-border;
            }
        }
    }
}