#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
    table.cart {
        input{
            line-height: @line-height-base;
        }
        
        td.actions .coupon #coupon_code {
            width: 100px;
        }
    }    
    
    #payment {
        border:         4px solid @light-border;
        border-radius:  0;
        padding:        15px 15px 7px;
        background:     none;
        
        ul.payment_methods {
            border-bottom:  0;
            padding-bottom: 0;
        }
        
        div.payment_box {
            background: @lighter-bg;
            
            &:before {
                border-bottom-color: @lighter-bg;
            }
            
            .woocommerce-SavedPaymentMethods {
                padding-left:   0;
                padding-right:  0;
            }
            
            input.input-text, 
            select,
            textarea {
                background-color: #fff;
            }
        }
    }
}

.shipping-calculator-button {    
    &:after {
        content         : '\00a0\f103';
        font-family     : FontAwesome;
    }
}

#ship-to-different-address label {
    margin: 0;
}

.woocommerce {
    ul#shipping_method li input {
        margin-left:    0;
        vertical-align: middle;
    }
    
    .woocommerce-shipping-calculator .form-row {
        padding: 0;
    }
}