.woocommerce {
    .checkbox .input-checkbox {
        position:       static;
        margin:         -2px 8px 0 0;
        vertical-align: middle;
    }
    
    form .form-row textarea {
        .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    }
    
    form.login, 
    form.checkout_coupon, 
    form.register {
        border-radius:  0;
        border:         4px solid @light-border;
        padding-bottom: 14px;
    }
    
    form.login {
        #rememberme {
            vertical-align: middle;
            margin-top:     -2px;
            margin-left:    3px;
        }
    }
}