p.demo_store,
.woocommerce-store-notice {    
    position:   fixed;
    top:        auto;
    bottom:     0;
    padding:    @padding-large-vertical @padding-large-horizontal; 
    background: @alert-info-bg; 
    color:      @alert-info-text;
    
    a {
        color: inherit;
    }
    
    @media (min-width: 768px) {
        text-align: left;
        
        .woocommerce-store-notice__dismiss-link {
            float: right;
        }
    }
}

.admin-bar p.demo_store {
    top: auto;
}