.woocommerce {
    .widget_layered_nav ul li.chosen a::before,
    .widget_layered_nav_filters ul li a::before {
        color: red;
    }
    
    .widget_layered_nav_filters ul li {
        margin-right: .5em;
    }
}