.woocommerce {
    .woocommerce-breadcrumb{
        margin: 0;
        padding: 1em;
    }

    span.onsale {
        background: @primary;
        min-height: 40px;
        min-width: 40px;
        top: 6px;
        left: 6px;
    }	
    
    .quantity .qty {
        width: 4em;
    }
    
    // Headings
    h2 { font-size: 20px; }
    h3 { font-size: 18px; }

    // Layouts
    .col2-set {
        .col-2 {
            // Fix conflict with theme columns.
            .column-count(auto);
        }
    }
} 