.woocommerce {
    .wc-item-meta {
        padding-left:   0;
        font-style:     italic;
    }
    
    address {        
        border  : 1px solid @light-border;
        padding : 15px;
    }
}