.woocommerce .widget_price_filter {
    .price_slider_wrapper .ui-widget-content {
        background-color: @lighter-bg;
    }
    
    .ui-slider {
        .ui-slider-handle,
        .ui-slider-range {
            background-color: @primary;
        }
    }
}