.woocommerce {
    ul.products {
        li.product {
            .img {
                    position: relative;

                    .star-rating {
                            color   : @primary;
                            position: absolute;
                            top     : 4px;
                            left    : 4px;
                    }

                    .links {                                
                            position        : absolute;
                            bottom          : 0;

                            a {
                                    background-color: rgba(0, 0, 0, .8); 
                                    color           : @light-text;
                                    padding         : 4px 8px;
                                    display         : block;
                                    float           : left;

                                    &:hover         { background-color: fade(@primary, 80%); }

                                    .text           { display: none; }                                        
                                    &:hover .text   { display: inline; }

                                    .fa-cog,
                                    .fa-spin,
                                    .fa-check,
                                    &.added_to_cart { display: none }

                                    &.product_type_variable {
                                            .fa-shopping-cart { display: none; }
                                            .fa-cog { display: inline-block }
                                    }

                                    &.loading {
                                            .fa-shopping-cart, .fa-cog { display: none; }
                                            .fa-spin { display: inline-block }
                                    }                                        
                                    &[class$=added] {
                                            .fa-shopping-cart, .fa-cog { display: none; }
                                            .fa-check { display: inline-block }
                                    }
                            }
                    }

                    .star-rating, 
                    .links {
                            opacity : 0;
                            .transition();
                    }
                    &:hover {
                            .star-rating,
                            .links { opacity: 1 }
                    }
            }

            .woocommerce-loop-product__title,
            .woocommerce-loop-category__title { 
                margin:     8px 0 0; 
                font-size:  @font-size-h5;
            }	
            
            .price {
                color:          @primary;
                font-size:      1em;
                font-weight:    bold;
                
                del {
                    display: inline;
                }
            }
        }
    }
    
    nav.woocommerce-pagination {
        margin-bottom   : 45px;
        
        ul {
            margin: 0 -2px;
            border: 0;
            
            li {
                margin: 0 2px;
                border: 0;
                
                a,
                span {
                    padding         : 8px 10px;
                }
                
                a {
                    &:hover { 
                        background-color: @primary;
                        color           : @light-text;
                    }
                }
                
                span.current {
                    background  : @secondary; 
                    color       : @light-text;
                }
            }
        }
    }
}