.woocommerce div.product  {        
    span.price,
    p.price {
        font-weight: bold;
        color: @primary;
    }

    .product_title,
    .woocommerce-product-rating,
    .product_meta,
    [itemprop=offers] {                
        border-bottom   : 1px solid @light-border;
        padding-bottom  : 15px;
        margin-bottom   : 15px;
    }

    .woocommerce-tabs {
        ul.tabs {
            padding: 0;
            
            &:before {
                border-color: @light-border;
            }
            
            li {
                float:              left;
                margin:             0;
                border:             0;
                border-radius:      0;
                padding:            0;
                background-color:   @light-border;
                color:              @secondary;
                font-family:        @headings-font;
                
                .box-shadow-inset(0, 15px, 0, 0, rgba(255, 255, 255, .12)); 

                &.active {
                    color           : @light-text; 
                    background-color: @secondary;
                    
                    .box-shadow-inset(0, 15px, 0, 0, rgba(255, 255, 255, .12)); 
                }
                
                &:before,
                &:after {
                    content: none;
                }
                
                a {
                    padding:        0 10px;
                    font-size:      @font-size-h4;
                    line-height:    30px;
                }
            }
        }     
        
        .panel.entry-content {
            border-bottom: 0 !important;
            margin-bottom: 2em !important;
        }
    }

    form.cart {
        .group_table {
            margin-bottom   : 15px;
        
            td:first-child {
                text-align: inherit;
            }
            
            .wc-grouped-product-add-to-cart-checkbox {
                .transform(none);
            }
            
            .add_to_cart_button {
                &:extend( .btn all );
                &:extend( .btn-default all );

                .fa {
                    display: none;
                }
            }
        }
    }

    .upsells.products > h2 { margin-bottom: 15px }
}