.woocommerce {
    .stars {
        a {
            color: @dark-text;
        }

        &:hover,
        &.selected {
            a {
                color: @primary;
            }

            a:hover,
            a.active {
                ~ a {
                    color: @dark-text;
                }
            }
        }
    }
}