.woocommerce #reviews {
    #comments {
        ol.commentlist {     
            padding: 0;
            
            .comment_container {
                .avatar {
                    border          : 5px solid white;
                    min-width       : 70px;
                    padding         : 0;
                    border-radius   : 35px;
                    .box-shadow(0, 1px, 1px, 0, rgba(0, 0, 0, .4));
                }
                
                .comment-text {
                    margin-left:    90px;
                    border:         0;
                    padding:        0;
                    
                    .description {
                        background      : @lighter-bg;
                        padding         : 1px 10px;
                        position        : relative;

                        p { margin: 9px 0; }

                        &:before {
                                content: ' ';
                                border-right    : 10px solid @lighter-bg;
                                border-top      : 7.5px solid transparent; 
                                border-bottom   : 7.5px solid transparent; 
                                left            : -10px;
                                position        : absolute;
                                top             : 10px;
                        }
                    }
                }                    
            }					
        }
    }
    
    .flat-style & #comments ol.commentlist li .comment_container .avatar {
        .box-shadow(0, 0);
    }
}