.rtl {
    &.woocommerce {            
        .widget_layered_nav_filters ul li {
            margin-right:   0;
            margin-left:    .5em;
        }
    }
    
    .woocommerce {
        ul#shipping_method li input {
            margin-right:   0;
            margin-left:    3px;
        }
    }
}