.woocommerce {
    table {         
        > tfoot {
            > tr:first-child {
                > th,
                > td {
                        border-top-width: 2px;
                }
            }
        }
        
        &.variations {
            .label {
                color: inherit;
            }
            
            select {
                width: auto;
            }
        }
        
        &.shop_table {
            padding:            0;
            border-left:        0;
            border-right:       0;
            border-bottom:      0;
            border-radius:      0;
            border-collapse:    collapse;
            
            td,
            tfoot th {
                border-color: @table-border-color;
            }
        }
        
        &.shop_attributes {
            &,
            th,
            td {
                border-style: solid;
            }
            
            td {
                padding-left:   8px;
                padding-right:  8px;
            }
        }
    } 
}