/*Screen Reader
===============*/
.screen-reader-text {
        .sr-only();
}

/*Post Meta
=========== */
.entry-meta > a,
.entry-meta > span {
    margin-right: .5em;
    
    .rtl & {        
        margin-right: 0;
        margin-left: .5em;
    }
}


/*Comment
========= */
.comment-respond {
        margin: 45px 0;
        .comment-reply-title { font-size: 18px; }
}
.post-comments {
        .pingback, 
        .trackback {
                border-bottom   : 1px solid @light-border; 
                margin          : 30px 0;
                padding-bottom  : 15px;
        }                
}
#comments.widget .page-links { margin-bottom: 15px }

/*Edit Link
=========== */
.edit-link {
        border-bottom   : 1px solid @light-border;
        padding         : 10px 0;
        margin-bottom   : 15px; 
}

/* SHORTCODES
============= */
.wp-video-shortcode,
.wp-audio-shortcode     { max-width     : 100% }
.wp-playlist-caption    { white-space   : normal!important; }

.frame {
        .tiled-gallery {
                margin: 0;
                .gallery-row { width: 100% !important }
        }
        
        .video-player {
                width   : 100% !important;
                height  : auto !important; 
        }
        
        .wp-playlist {
                margin: 0;
        }
}

/*table
======= */

.table-responsive {
        border          : 0;
        margin-bottom   : 15px;
        overflow-x      : auto;
        
        table {
                margin-bottom   : 0; 
        }
}

.entry-content,
.post-comments .comment {
        table {
                &:extend( .table all, .table-striped all, .table-bordered all );
        }
}
.post-comments .children>li>.comment-container .content .comment table {
        /* Zebra-striping*/
        > tbody > tr:nth-child(odd) {
                > td,
                > th {
                        background-color: lighten(@primary, 8%);
                }
        }
}

/*BLOG VER 2
============*/
#blog-version-2 #main-content .row.aside :not(.headline) article .post-meta {
        border  : none;
        margin  : 0;
        padding : 0;
}

/*Static page*/
#blog-detail .page #main-content .entry-content { border-bottom: none }

/*
===*/
.gallery-caption,
.bypostauthor,
.sticky { font-weight: normal;  }

/*Title
=======*/
#title { 
        background-image: none;
        background-color: @navbar-inverse-bg;
        min-height      : 150px;
}  

/*Body*/
.boxed-style body { 
        background-image: none;
        background-color: #ddd 
}