#fsmpb-container .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
#fsmpb-container .container:before, #fsmpb-container .container:after {
  content: " ";
  display: table;
}
#fsmpb-container .container:after {
  clear: both;
}
@media (min-width: 768px) {
  #fsmpb-container .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  #fsmpb-container .container {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  #fsmpb-container .container {
    width: 1140px;
  }
}
#fsmpb-container .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
#fsmpb-container .container-fluid:before, #fsmpb-container .container-fluid:after {
  content: " ";
  display: table;
}
#fsmpb-container .container-fluid:after {
  clear: both;
}
#fsmpb-container .row {
  margin-left: 0;
  margin-right: 0;
}
#fsmpb-container .row:before, #fsmpb-container .row:after {
  content: " ";
  display: table;
}
#fsmpb-container .row:after {
  clear: both;
}
#fsmpb-container .col-xs-1, #fsmpb-container .col-sm-1, #fsmpb-container .col-md-1, #fsmpb-container .col-lg-1, #fsmpb-container .col-xs-2, #fsmpb-container .col-sm-2, #fsmpb-container .col-md-2, #fsmpb-container .col-lg-2, #fsmpb-container .col-xs-3, #fsmpb-container .col-sm-3, #fsmpb-container .col-md-3, #fsmpb-container .col-lg-3, #fsmpb-container .col-xs-4, #fsmpb-container .col-sm-4, #fsmpb-container .col-md-4, #fsmpb-container .col-lg-4, #fsmpb-container .col-xs-5, #fsmpb-container .col-sm-5, #fsmpb-container .col-md-5, #fsmpb-container .col-lg-5, #fsmpb-container .col-xs-6, #fsmpb-container .col-sm-6, #fsmpb-container .col-md-6, #fsmpb-container .col-lg-6, #fsmpb-container .col-xs-7, #fsmpb-container .col-sm-7, #fsmpb-container .col-md-7, #fsmpb-container .col-lg-7, #fsmpb-container .col-xs-8, #fsmpb-container .col-sm-8, #fsmpb-container .col-md-8, #fsmpb-container .col-lg-8, #fsmpb-container .col-xs-9, #fsmpb-container .col-sm-9, #fsmpb-container .col-md-9, #fsmpb-container .col-lg-9, #fsmpb-container .col-xs-10, #fsmpb-container .col-sm-10, #fsmpb-container .col-md-10, #fsmpb-container .col-lg-10, #fsmpb-container .col-xs-11, #fsmpb-container .col-sm-11, #fsmpb-container .col-md-11, #fsmpb-container .col-lg-11, #fsmpb-container .col-xs-12, #fsmpb-container .col-sm-12, #fsmpb-container .col-md-12, #fsmpb-container .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}
#fsmpb-container .col-xs-1, #fsmpb-container .col-xs-2, #fsmpb-container .col-xs-3, #fsmpb-container .col-xs-4, #fsmpb-container .col-xs-5, #fsmpb-container .col-xs-6, #fsmpb-container .col-xs-7, #fsmpb-container .col-xs-8, #fsmpb-container .col-xs-9, #fsmpb-container .col-xs-10, #fsmpb-container .col-xs-11, #fsmpb-container .col-xs-12 {
  float: left;
}
#fsmpb-container .col-xs-1 {
  width: 8.33333%;
}
#fsmpb-container .col-xs-2 {
  width: 16.66667%;
}
#fsmpb-container .col-xs-3 {
  width: 25%;
}
#fsmpb-container .col-xs-4 {
  width: 33.33333%;
}
#fsmpb-container .col-xs-5 {
  width: 41.66667%;
}
#fsmpb-container .col-xs-6 {
  width: 50%;
}
#fsmpb-container .col-xs-7 {
  width: 58.33333%;
}
#fsmpb-container .col-xs-8 {
  width: 66.66667%;
}
#fsmpb-container .col-xs-9 {
  width: 75%;
}
#fsmpb-container .col-xs-10 {
  width: 83.33333%;
}
#fsmpb-container .col-xs-11 {
  width: 91.66667%;
}
#fsmpb-container .col-xs-12 {
  width: 100%;
}
#fsmpb-container .col-xs-pull-0 {
  right: auto;
}
#fsmpb-container .col-xs-pull-1 {
  right: 8.33333%;
}
#fsmpb-container .col-xs-pull-2 {
  right: 16.66667%;
}
#fsmpb-container .col-xs-pull-3 {
  right: 25%;
}
#fsmpb-container .col-xs-pull-4 {
  right: 33.33333%;
}
#fsmpb-container .col-xs-pull-5 {
  right: 41.66667%;
}
#fsmpb-container .col-xs-pull-6 {
  right: 50%;
}
#fsmpb-container .col-xs-pull-7 {
  right: 58.33333%;
}
#fsmpb-container .col-xs-pull-8 {
  right: 66.66667%;
}
#fsmpb-container .col-xs-pull-9 {
  right: 75%;
}
#fsmpb-container .col-xs-pull-10 {
  right: 83.33333%;
}
#fsmpb-container .col-xs-pull-11 {
  right: 91.66667%;
}
#fsmpb-container .col-xs-pull-12 {
  right: 100%;
}
#fsmpb-container .col-xs-push-0 {
  left: auto;
}
#fsmpb-container .col-xs-push-1 {
  left: 8.33333%;
}
#fsmpb-container .col-xs-push-2 {
  left: 16.66667%;
}
#fsmpb-container .col-xs-push-3 {
  left: 25%;
}
#fsmpb-container .col-xs-push-4 {
  left: 33.33333%;
}
#fsmpb-container .col-xs-push-5 {
  left: 41.66667%;
}
#fsmpb-container .col-xs-push-6 {
  left: 50%;
}
#fsmpb-container .col-xs-push-7 {
  left: 58.33333%;
}
#fsmpb-container .col-xs-push-8 {
  left: 66.66667%;
}
#fsmpb-container .col-xs-push-9 {
  left: 75%;
}
#fsmpb-container .col-xs-push-10 {
  left: 83.33333%;
}
#fsmpb-container .col-xs-push-11 {
  left: 91.66667%;
}
#fsmpb-container .col-xs-push-12 {
  left: 100%;
}
#fsmpb-container .col-xs-offset-0 {
  margin-left: 0%;
}
#fsmpb-container .col-xs-offset-1 {
  margin-left: 8.33333%;
}
#fsmpb-container .col-xs-offset-2 {
  margin-left: 16.66667%;
}
#fsmpb-container .col-xs-offset-3 {
  margin-left: 25%;
}
#fsmpb-container .col-xs-offset-4 {
  margin-left: 33.33333%;
}
#fsmpb-container .col-xs-offset-5 {
  margin-left: 41.66667%;
}
#fsmpb-container .col-xs-offset-6 {
  margin-left: 50%;
}
#fsmpb-container .col-xs-offset-7 {
  margin-left: 58.33333%;
}
#fsmpb-container .col-xs-offset-8 {
  margin-left: 66.66667%;
}
#fsmpb-container .col-xs-offset-9 {
  margin-left: 75%;
}
#fsmpb-container .col-xs-offset-10 {
  margin-left: 83.33333%;
}
#fsmpb-container .col-xs-offset-11 {
  margin-left: 91.66667%;
}
#fsmpb-container .col-xs-offset-12 {
  margin-left: 100%;
}
@media (min-width: 768px) {
  #fsmpb-container .col-sm-1, #fsmpb-container .col-sm-2, #fsmpb-container .col-sm-3, #fsmpb-container .col-sm-4, #fsmpb-container .col-sm-5, #fsmpb-container .col-sm-6, #fsmpb-container .col-sm-7, #fsmpb-container .col-sm-8, #fsmpb-container .col-sm-9, #fsmpb-container .col-sm-10, #fsmpb-container .col-sm-11, #fsmpb-container .col-sm-12 {
    float: left;
  }
  #fsmpb-container .col-sm-1 {
    width: 8.33333%;
  }
  #fsmpb-container .col-sm-2 {
    width: 16.66667%;
  }
  #fsmpb-container .col-sm-3 {
    width: 25%;
  }
  #fsmpb-container .col-sm-4 {
    width: 33.33333%;
  }
  #fsmpb-container .col-sm-5 {
    width: 41.66667%;
  }
  #fsmpb-container .col-sm-6 {
    width: 50%;
  }
  #fsmpb-container .col-sm-7 {
    width: 58.33333%;
  }
  #fsmpb-container .col-sm-8 {
    width: 66.66667%;
  }
  #fsmpb-container .col-sm-9 {
    width: 75%;
  }
  #fsmpb-container .col-sm-10 {
    width: 83.33333%;
  }
  #fsmpb-container .col-sm-11 {
    width: 91.66667%;
  }
  #fsmpb-container .col-sm-12 {
    width: 100%;
  }
  #fsmpb-container .col-sm-pull-0 {
    right: auto;
  }
  #fsmpb-container .col-sm-pull-1 {
    right: 8.33333%;
  }
  #fsmpb-container .col-sm-pull-2 {
    right: 16.66667%;
  }
  #fsmpb-container .col-sm-pull-3 {
    right: 25%;
  }
  #fsmpb-container .col-sm-pull-4 {
    right: 33.33333%;
  }
  #fsmpb-container .col-sm-pull-5 {
    right: 41.66667%;
  }
  #fsmpb-container .col-sm-pull-6 {
    right: 50%;
  }
  #fsmpb-container .col-sm-pull-7 {
    right: 58.33333%;
  }
  #fsmpb-container .col-sm-pull-8 {
    right: 66.66667%;
  }
  #fsmpb-container .col-sm-pull-9 {
    right: 75%;
  }
  #fsmpb-container .col-sm-pull-10 {
    right: 83.33333%;
  }
  #fsmpb-container .col-sm-pull-11 {
    right: 91.66667%;
  }
  #fsmpb-container .col-sm-pull-12 {
    right: 100%;
  }
  #fsmpb-container .col-sm-push-0 {
    left: auto;
  }
  #fsmpb-container .col-sm-push-1 {
    left: 8.33333%;
  }
  #fsmpb-container .col-sm-push-2 {
    left: 16.66667%;
  }
  #fsmpb-container .col-sm-push-3 {
    left: 25%;
  }
  #fsmpb-container .col-sm-push-4 {
    left: 33.33333%;
  }
  #fsmpb-container .col-sm-push-5 {
    left: 41.66667%;
  }
  #fsmpb-container .col-sm-push-6 {
    left: 50%;
  }
  #fsmpb-container .col-sm-push-7 {
    left: 58.33333%;
  }
  #fsmpb-container .col-sm-push-8 {
    left: 66.66667%;
  }
  #fsmpb-container .col-sm-push-9 {
    left: 75%;
  }
  #fsmpb-container .col-sm-push-10 {
    left: 83.33333%;
  }
  #fsmpb-container .col-sm-push-11 {
    left: 91.66667%;
  }
  #fsmpb-container .col-sm-push-12 {
    left: 100%;
  }
  #fsmpb-container .col-sm-offset-0 {
    margin-left: 0%;
  }
  #fsmpb-container .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  #fsmpb-container .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  #fsmpb-container .col-sm-offset-3 {
    margin-left: 25%;
  }
  #fsmpb-container .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  #fsmpb-container .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  #fsmpb-container .col-sm-offset-6 {
    margin-left: 50%;
  }
  #fsmpb-container .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  #fsmpb-container .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  #fsmpb-container .col-sm-offset-9 {
    margin-left: 75%;
  }
  #fsmpb-container .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  #fsmpb-container .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  #fsmpb-container .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  #fsmpb-container .col-md-1, #fsmpb-container .col-md-2, #fsmpb-container .col-md-3, #fsmpb-container .col-md-4, #fsmpb-container .col-md-5, #fsmpb-container .col-md-6, #fsmpb-container .col-md-7, #fsmpb-container .col-md-8, #fsmpb-container .col-md-9, #fsmpb-container .col-md-10, #fsmpb-container .col-md-11, #fsmpb-container .col-md-12 {
    float: left;
  }
  #fsmpb-container .col-md-1 {
    width: 8.33333%;
  }
  #fsmpb-container .col-md-2 {
    width: 16.66667%;
  }
  #fsmpb-container .col-md-3 {
    width: 25%;
  }
  #fsmpb-container .col-md-4 {
    width: 33.33333%;
  }
  #fsmpb-container .col-md-5 {
    width: 41.66667%;
  }
  #fsmpb-container .col-md-6 {
    width: 50%;
  }
  #fsmpb-container .col-md-7 {
    width: 58.33333%;
  }
  #fsmpb-container .col-md-8 {
    width: 66.66667%;
  }
  #fsmpb-container .col-md-9 {
    width: 75%;
  }
  #fsmpb-container .col-md-10 {
    width: 83.33333%;
  }
  #fsmpb-container .col-md-11 {
    width: 91.66667%;
  }
  #fsmpb-container .col-md-12 {
    width: 100%;
  }
  #fsmpb-container .col-md-pull-0 {
    right: auto;
  }
  #fsmpb-container .col-md-pull-1 {
    right: 8.33333%;
  }
  #fsmpb-container .col-md-pull-2 {
    right: 16.66667%;
  }
  #fsmpb-container .col-md-pull-3 {
    right: 25%;
  }
  #fsmpb-container .col-md-pull-4 {
    right: 33.33333%;
  }
  #fsmpb-container .col-md-pull-5 {
    right: 41.66667%;
  }
  #fsmpb-container .col-md-pull-6 {
    right: 50%;
  }
  #fsmpb-container .col-md-pull-7 {
    right: 58.33333%;
  }
  #fsmpb-container .col-md-pull-8 {
    right: 66.66667%;
  }
  #fsmpb-container .col-md-pull-9 {
    right: 75%;
  }
  #fsmpb-container .col-md-pull-10 {
    right: 83.33333%;
  }
  #fsmpb-container .col-md-pull-11 {
    right: 91.66667%;
  }
  #fsmpb-container .col-md-pull-12 {
    right: 100%;
  }
  #fsmpb-container .col-md-push-0 {
    left: auto;
  }
  #fsmpb-container .col-md-push-1 {
    left: 8.33333%;
  }
  #fsmpb-container .col-md-push-2 {
    left: 16.66667%;
  }
  #fsmpb-container .col-md-push-3 {
    left: 25%;
  }
  #fsmpb-container .col-md-push-4 {
    left: 33.33333%;
  }
  #fsmpb-container .col-md-push-5 {
    left: 41.66667%;
  }
  #fsmpb-container .col-md-push-6 {
    left: 50%;
  }
  #fsmpb-container .col-md-push-7 {
    left: 58.33333%;
  }
  #fsmpb-container .col-md-push-8 {
    left: 66.66667%;
  }
  #fsmpb-container .col-md-push-9 {
    left: 75%;
  }
  #fsmpb-container .col-md-push-10 {
    left: 83.33333%;
  }
  #fsmpb-container .col-md-push-11 {
    left: 91.66667%;
  }
  #fsmpb-container .col-md-push-12 {
    left: 100%;
  }
  #fsmpb-container .col-md-offset-0 {
    margin-left: 0%;
  }
  #fsmpb-container .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  #fsmpb-container .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  #fsmpb-container .col-md-offset-3 {
    margin-left: 25%;
  }
  #fsmpb-container .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  #fsmpb-container .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  #fsmpb-container .col-md-offset-6 {
    margin-left: 50%;
  }
  #fsmpb-container .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  #fsmpb-container .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  #fsmpb-container .col-md-offset-9 {
    margin-left: 75%;
  }
  #fsmpb-container .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  #fsmpb-container .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  #fsmpb-container .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  #fsmpb-container .col-lg-1, #fsmpb-container .col-lg-2, #fsmpb-container .col-lg-3, #fsmpb-container .col-lg-4, #fsmpb-container .col-lg-5, #fsmpb-container .col-lg-6, #fsmpb-container .col-lg-7, #fsmpb-container .col-lg-8, #fsmpb-container .col-lg-9, #fsmpb-container .col-lg-10, #fsmpb-container .col-lg-11, #fsmpb-container .col-lg-12 {
    float: left;
  }
  #fsmpb-container .col-lg-1 {
    width: 8.33333%;
  }
  #fsmpb-container .col-lg-2 {
    width: 16.66667%;
  }
  #fsmpb-container .col-lg-3 {
    width: 25%;
  }
  #fsmpb-container .col-lg-4 {
    width: 33.33333%;
  }
  #fsmpb-container .col-lg-5 {
    width: 41.66667%;
  }
  #fsmpb-container .col-lg-6 {
    width: 50%;
  }
  #fsmpb-container .col-lg-7 {
    width: 58.33333%;
  }
  #fsmpb-container .col-lg-8 {
    width: 66.66667%;
  }
  #fsmpb-container .col-lg-9 {
    width: 75%;
  }
  #fsmpb-container .col-lg-10 {
    width: 83.33333%;
  }
  #fsmpb-container .col-lg-11 {
    width: 91.66667%;
  }
  #fsmpb-container .col-lg-12 {
    width: 100%;
  }
  #fsmpb-container .col-lg-pull-0 {
    right: auto;
  }
  #fsmpb-container .col-lg-pull-1 {
    right: 8.33333%;
  }
  #fsmpb-container .col-lg-pull-2 {
    right: 16.66667%;
  }
  #fsmpb-container .col-lg-pull-3 {
    right: 25%;
  }
  #fsmpb-container .col-lg-pull-4 {
    right: 33.33333%;
  }
  #fsmpb-container .col-lg-pull-5 {
    right: 41.66667%;
  }
  #fsmpb-container .col-lg-pull-6 {
    right: 50%;
  }
  #fsmpb-container .col-lg-pull-7 {
    right: 58.33333%;
  }
  #fsmpb-container .col-lg-pull-8 {
    right: 66.66667%;
  }
  #fsmpb-container .col-lg-pull-9 {
    right: 75%;
  }
  #fsmpb-container .col-lg-pull-10 {
    right: 83.33333%;
  }
  #fsmpb-container .col-lg-pull-11 {
    right: 91.66667%;
  }
  #fsmpb-container .col-lg-pull-12 {
    right: 100%;
  }
  #fsmpb-container .col-lg-push-0 {
    left: auto;
  }
  #fsmpb-container .col-lg-push-1 {
    left: 8.33333%;
  }
  #fsmpb-container .col-lg-push-2 {
    left: 16.66667%;
  }
  #fsmpb-container .col-lg-push-3 {
    left: 25%;
  }
  #fsmpb-container .col-lg-push-4 {
    left: 33.33333%;
  }
  #fsmpb-container .col-lg-push-5 {
    left: 41.66667%;
  }
  #fsmpb-container .col-lg-push-6 {
    left: 50%;
  }
  #fsmpb-container .col-lg-push-7 {
    left: 58.33333%;
  }
  #fsmpb-container .col-lg-push-8 {
    left: 66.66667%;
  }
  #fsmpb-container .col-lg-push-9 {
    left: 75%;
  }
  #fsmpb-container .col-lg-push-10 {
    left: 83.33333%;
  }
  #fsmpb-container .col-lg-push-11 {
    left: 91.66667%;
  }
  #fsmpb-container .col-lg-push-12 {
    left: 100%;
  }
  #fsmpb-container .col-lg-offset-0 {
    margin-left: 0%;
  }
  #fsmpb-container .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  #fsmpb-container .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  #fsmpb-container .col-lg-offset-3 {
    margin-left: 25%;
  }
  #fsmpb-container .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  #fsmpb-container .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  #fsmpb-container .col-lg-offset-6 {
    margin-left: 50%;
  }
  #fsmpb-container .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  #fsmpb-container .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  #fsmpb-container .col-lg-offset-9 {
    margin-left: 75%;
  }
  #fsmpb-container .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  #fsmpb-container .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  #fsmpb-container .col-lg-offset-12 {
    margin-left: 100%;
  }
}
#fsmpb-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#fsmpb-container *:before,
#fsmpb-container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#fsmpb-container .panel-body {
  padding: 10px;
}
#fsmpb-container .panel-heading {
  padding: 10px;
}
#fsmpb-container #fsmpb-modal-insert-element .row {
  margin: 2em 0 1em;
}
#fsmpb-container #fsmpb-modal-insert-element .col-sm-3 {
  padding: 1px;
}
#fsmpb-container #fsmpb-modal-insert-element .element {
  padding: .8em;
  background: #f8f8f8;
  text-align: center;
}
#fsmpb-container #fsmpb-modal-insert-element .element:hover {
  background: #d9edf7;
}
#fsmpb-container #fsmpb-modal-insert-element .element h4 {
  margin: 0 0 .5em;
}
#fsmpb-container #fsmpb-modal-insert-row .columns {
  margin: 0 -2.5px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div {
  background-image: url(../img/columns.jpg);
  cursor: pointer;
  float: left;
  margin: 2.5px;
  height: 20px;
  width: 60px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div.col-6-6 {
  background-position: 0 -20px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div.col-4-4-4 {
  background-position: 0 -40px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div.col-3-3-3-3 {
  background-position: 0 -60px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div.col-2-2-2-2-2-2 {
  background-position: 0 -80px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div.col-4-8 {
  background-position: 0 -100px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div.col-8-4 {
  background-position: 0 -120px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div.col-3-6-3 {
  background-position: 0 -140px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div.col-3-3-6 {
  background-position: 0 -160px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div.col-6-3-3 {
  background-position: 0 -180px;
}
#fsmpb-container #fsmpb-modal-insert-row .columns > div.selected {
  border-bottom: 4px solid #d2322d;
}
#fsmpb-container.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 10000;
  background: white;
  width: 98%;
  min-height: 98%;
  padding: 1%;
}
#fsmpb-container .modal#fsmpb-modal-loading {
  text-align: center;
}
#fsmpb-container .modal .button-primary {
  color: white;
}
#fsmpb-container .modal .element {
  cursor: pointer;
  word-break: normal !important;
}
#fsmpb-container .modal .spinner {
  display: inline-block;
  margin: -1px 0 0;
  float: none;
}
#fsmpb-container .panel {
  border: 0;
  margin-bottom: 10px;
}
#fsmpb-container .panel-heading {
  position: relative;
  cursor: move;
  background: rgba(0, 0, 0, 0.01);
  font-weight: 900;
}
#fsmpb-container .panel-title {
  font-size: 11px;
}
#fsmpb-container .control {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  display: table;
  opacity: 0;
}
#fsmpb-container .control a {
  padding: 0 8px;
  line-height: 26px;
  display: table-cell;
}
#fsmpb-container .control a:hover {
  background: rgba(0, 0, 0, 0.1);
}
#fsmpb-container .panel:hover > .panel-heading .control {
  opacity: 1;
}
#fsmpb-container .panel.selected > .panel-heading {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
#fsmpb-container .element-wrapper {
  background: #428bca;
  color: #fff;
  word-break: break-all;
}
#fsmpb-container .element-wrapper > .panel-body {
  min-height: 39px;
}
#fsmpb-container .column-wrapper {
  transition: width .4s;
}
#fsmpb-container .column-wrapper > .panel {
  margin: 1px;
}
#fsmpb-container .column-wrapper > .panel > .panel-body {
  padding-bottom: 0;
  min-height: 98px;
}
#fsmpb-container .row-wrapper {
  background: #f1f1f1;
}
#fsmpb-container .row-wrapper > .panel-body {
  padding: 1px;
}
#fsmpb-container .row-wrapper > .panel-body > .row {
  min-height: 88px;
}
#fsmpb-container .ui-sortable-helper {
  opacity: .5;
}
#fsmpb-container .placeholder {
  height: 64px;
  margin-bottom: 10px;
  background: #5bc0de;
}
#fsmpb-container .placeholder.column-wrapper {
  margin: 1px 0;
  background: none;
}
#fsmpb-container .placeholder.column-wrapper:after {
  content: '';
  display: block;
  height: 100%;
  background: #5bc0de;
}

#fsmpb_meta_box {
  display: none;
}

#fsmpb-switch .dashicons {
  opacity: .8;
  line-height: inherit;
}

body.fsmpb #fsmpb_meta_box {
  display: block;
}
body.fsmpb #postdivrich #wp-content-media-buttons > :not(#fsmpb-switch),
body.fsmpb #postdivrich #wp-content-editor-container,
body.fsmpb #postdivrich .wp-editor-tabs {
  display: none;
}
body.fsmpb #postdivrich #post-status-info {
  position: absolute;
  opacity: 0;
}
body.fsmpb #postdivrich #wp-content-editor-tools {
  border: none;
}
body.fsmpb-full-screen {
  overflow: hidden;
}

.rtl #fsmpb-container .col-xs-1, .rtl #fsmpb-container .col-xs-2, .rtl #fsmpb-container .col-xs-3, .rtl #fsmpb-container .col-xs-4, .rtl #fsmpb-container .col-xs-5, .rtl #fsmpb-container .col-xs-6, .rtl #fsmpb-container .col-xs-7, .rtl #fsmpb-container .col-xs-8, .rtl #fsmpb-container .col-xs-9, .rtl #fsmpb-container .col-xs-10, .rtl #fsmpb-container .col-xs-11, .rtl #fsmpb-container .col-xs-12,
.rtl #fsmpb-container .col-sm-1, .rtl #fsmpb-container .col-sm-2, .rtl #fsmpb-container .col-sm-3, .rtl #fsmpb-container .col-sm-4, .rtl #fsmpb-container .col-sm-5, .rtl #fsmpb-container .col-sm-6, .rtl #fsmpb-container .col-sm-7, .rtl #fsmpb-container .col-sm-8, .rtl #fsmpb-container .col-sm-9, .rtl #fsmpb-container .col-sm-10, .rtl #fsmpb-container .col-sm-11, .rtl #fsmpb-container .col-sm-12,
.rtl #fsmpb-container .col-lg-1, .rtl #fsmpb-container .col-lg-2, .rtl #fsmpb-container .col-lg-3, .rtl #fsmpb-container .col-lg-4, .rtl #fsmpb-container .col-lg-5, .rtl #fsmpb-container .col-lg-6, .rtl #fsmpb-container .col-lg-7, .rtl #fsmpb-container .col-lg-8, .rtl #fsmpb-container .col-lg-9, .rtl #fsmpb-container .col-lg-10, .rtl #fsmpb-container .col-lg-11, .rtl #fsmpb-container .col-lg-12,
.rtl #fsmpb-container .nav-tabs > li,
.rtl #fsmpb-container .insert-row .columns > div {
  float: right;
}
.rtl #fsmpb-container .control {
  right: auto;
  left: 0;
}
